<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
    <title>Shopee</title>
</head>
<body>
    <div class="container"> 
        <p class="nomePagina">1402 Sonhos | Links Shopee!</p>
        <p>Oi, tudo bem?</p>
        <p class="descricao">Aqui você encontra os links das comprinhas que eu já fiz na Shopee.</p>
    </div>

    <div class="container">
        <a href="https://shopee.com.br/Kit-Jogo-4-Potes-Empilh%C3%A1veis-200ml-de-Vidro-com-Tampa-de-Bambu-Oikos-i.567829294.14017723254?sp_atk=0361e6f5-6aa3-4f20-8780-a6bf3f71b195">
            <button mat-button>Potes Empilháveis - Oikos.</button>
        </a>
        <a href="https://shopee.com.br/Jarra-de-Vidro-Borossilicato-1L-Com-Tampa-Bambu-Oikos-i.567829294.12257270082?sp_atk=fb15ae2f-deb0-43d1-8bfb-1c0dd6ae7b79">
            <button mat-button>Jarra de Suco 1L.</button>
        </a>
        <a href="https://shopee.com.br/product/344915158/15877050416?smtt=0.778447948-1657498413.9">
            <button mat-button>Lata de Metal - Cookie.</button>
        </a>
        <a href="https://shopee.com.br/product/344915158/17853087241?smtt=0.778447948-1657498451.9">
            <button mat-button>Lata de Metal - Açucar.</button>
        </a>
        <a href="https://shopee.com.br/product/344915158/17653087281?smtt=0.778447948-1657498467.9">
            <button mat-button>Lata de Metal - Café.</button>
        </a>
        <a href="https://shopee.com.br/Kit-06-Vidro-Organizador-de-Temperos-e-Condimentos-Com-Tampa-de-Vidro-herm%C3%A9tica-i.470656912.10640107446?xptdk=92467494-0473-424d-9ecf-a5df246645b3">
            <button mat-button>Porta Tempero com tampa de vidro hermética.</button>
        </a>
        <a href="https://shopee.com.br/Frascos-Ambar-3P%C3%A7s-Shampoo-Condicionador-Sabonete-500Ml-Pet-Cil%C3%ADndrico-i.613388204.17642550976?sp_atk=953d8a09-beef-4f24-9dc9-4cbc488025bb&xptdk=953d8a09-beef-4f24-9dc9-4cbc488025bb">
            <button mat-button>Frascos Âmbar.</button>
        </a>    
    </div>
</body>
</html>
