<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
    <title>Shopee</title>
</head>
<body>
    <div class="container"> 
        <p class="nomePagina">1402 Sonhos | Links Shopee!</p>
        <p>Oi, tudo bem?</p>
        <p class="descricao">Aqui você encontra os links das comprinhas que eu já fiz na Shopee.</p>
    </div>

    <div class="container">
        <a href="https://shope.ee/7pGgqwc9E8">
            <button mat-button>Potes Empilháveis - Oikos.</button>
        </a>
        <a href="https://shope.ee/7KKQG53Eno">
            <button mat-button>Jarra de Suco 1L.</button>
        </a>
        <a href="https://shope.ee/3KoHUW1mqq">
            <button mat-button>Lata de Metal - Cookie.</button>
        </a>
        <a href="https://shope.ee/5zp2fTGTgr">
            <button mat-button>Lata de Metal - Açucar.</button>
        </a>
        <a href="https://shope.ee/3AUrIAlYt3">
            <button mat-button>Lata de Metal - Café.</button>
        </a>
        <a href="https://shope.ee/4V0EsMR5Vb">
            <button mat-button>Porta Tempero com tampa de vidro hermética.</button>
        </a>
        <a href="https://shope.ee/3KoHUMf5ou">
            <button mat-button>Frascos Âmbar.</button>
        </a>     
    </div>
</body>
</html>
